.Button {
    color: var(--highlight-color2);
    background-color: var(--lowlight-color);
    border: solid var(--main-text-color) .1px;
    box-shadow: 2px 2px rgb(1, 1, 49);
    border-radius: 15%;
    margin: 5px;
}
