.blog-post-short{
    border: 1px solid var(--main-text-color);
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    text-align: left;

}

.blog-post-short-header > *{
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    margin: 1px;
    padding: 1px;
    
    
}

.blog-post-short-title{
    font-family: sans-serif;
}

.blog-post-short-date{
    font-family: serif;

}

.blog-post-listening{
        font-family: serif;
}

.blog-post-content{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;

}

.blog-tags{
    white-space: nowrap;
}