.Modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 75%;
    background-color: var(--lowlight-color);
    color: var(--background-color);
    border: 1px var(--lowlight-color) solid;
    box-shadow: 5px 5px rgb(2, 2, 53);
    overflow-y: scroll;
}

.Modal-closer{
    float: right;
    position: absolute;
}

.resume-object > * {
    height: 6000px;
    width: 75%;
}