.App {
  text-align: center;
}

.profile-pic {
  height: 40vmin;
  border-radius: 25%;
  border: 1px gray solid;
  margin-right: 5px;
}



.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a:link {
  color: #61dafb;
}

a:visited {
  color: #96b7c0;
}

a:hover {
  font-style: italic;
}

a:active {
  color: #03bef1;
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
  padding: 2px;
}