.App {
  text-align: center;
  border: 5px solid var(--main-text-color);
  border-top-right-radius: 2% 90%;
  border-top-left-radius: 5% 1%;
  border-bottom-left-radius: 10% 5%;
  border-bottom-right-radius: 1% 70%;
  width: 80%;
  height: 10em;
  overflow-y: auto;
}

.connection {
  text-align: center;
  border: 2px solid var(--main-text-color);
  border-top-right-radius: 2% 90%;
  border-top-left-radius: 5% 1%;
  border-bottom-left-radius: 10% 5%;
  border-bottom-right-radius: 1% 70%;
  width: 10%;
  height: 1em;
}

.tabletop {
  text-align: center;
  border: 2px solid var(--main-text-color);
  border-top-right-radius: 2% 90%;
  border-top-left-radius: 5% 1%;
  border-bottom-left-radius: 10% 5%;
  border-bottom-right-radius: 1% 70%;
  width: 95%;
  height: 2em;
  display: flex;
}

.find-me {
  display: flex;
}

.social-media-links {
  display: flex;
}

.profile-pic {
  height: 5em;
  border-radius: 25%;
  border: 1px gray solid;
  margin-right: 5px;
}


.App-link {
  color: #61dafb;
}

a:link {
  color: #61dafb;
}

a:visited {
  color: #96b7c0;
}

a:hover {
  font-style: italic;
}

a:active {
  color: #03bef1;
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
  padding: 2px;
}